<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/winscreen.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
    <title>Skylandle</title>
</head>
<body>
    <div class="WinBox">
        <p class="WinText1">YOU WIN!!!</p>
        <p class="WinText2">It was {{ current.name }}</p>
        <button class="AgainButton" id="AgainButton">Again?</button>
        <script src="./winscript.js"></script>
    </div>
</body>
</html>